.sendmsg {
    display: flex;
    justify-content: space-between;

    border: 1px solid gray;
    padding: 5px;

    &-input {
        flex-grow: 1;
        margin-right: 10px;
    }

    &-btn {
        // вломы пока что стилизовать :)
    }

}