
.message{
    &_field{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    &_list{
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: $color1;
        display: flex;
        flex-direction: column;
    }
    &_item{
        min-width: 100px;
        max-width: 80%;
        padding: 5px;
        margin-bottom: 10px;
        position: relative;
        align-self: flex-start;
        color: #000;
        background-color: $color1;
        border: 1px solid $color2;
        border-radius: 5px;
    }
    &_name{
        color: $color2;
        font-weight: bold;
        text-align: right;
    }  
    &_text{
        overflow: hidden;
    } 
}
.new_message{
    &_form{
        width: 100%;
        background-color: $color1;
        border-top: 1px solid $color2;
        display: flex;
    }
    &_text{
        width: 100%;
        padding: 10px;
        resize: none;
        border: none;
        &:focus{
            border: none;
            outline: none;
        }
        &:active{
            border: none;
            outline: none;
        }
    }
    &_btn{
        padding: 10px;
        text-transform: uppercase;
        color: $color2;
        border: none;
        cursor: pointer;
        &:hover{
            opacity: 70%;
        }
        &:focus{
            border: none;
            outline: none;
        }
        &:active{
            border: none;
            outline: none;
        }
    }
}
.my_message{
    align-self: flex-end;
    color: $color1;
    background-color: $color2;
}