@import "@styles/variables";
.message {
  background-color: $main-color;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.message.message__bot {
  align-self: flex-start;
  width: auto;
}

.message.message__me {
  align-self: flex-end;
  text-align: right;
  width: auto;
}