$main-color: #484b4d;
$self-msg-color: rgba(131, 255, 100, 0.4);
$bot-msg-color: rgba(255, 100, 100, 0.4);
$companion-msg-color: rgba(116, 137, 255, 0.4);
$active_companion-color: rgba(255, 100, 100, 0.4);
