@import '@styles/variables.scss';

.message-list {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  &__message {
    margin: 10px 0 0;
  }
}
.message-input {
  &__input {
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 34px;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    outline: 0;
    outline-offset: 0;
    &:hover, &:active {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__button {
    height: 34px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 20px;
    text-transform: uppercase;
    outline: 0;
    outline-offset: 0;
    background: $app-green;
    cursor: pointer;
    transition: background 0.3s;
    &:hover, &:active {
      outline: 0;
      outline-offset: 0;
      background: $app-green-dark;
      transition: background 0.3s;
    }
  }
}
